* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: lightgray;
}

.card {
    width: 500px;
    height: 500px;
}

.nft {
    width: 100px;
    height: 100px;
}

.order {}

.qr {}